# Dependencies
node_modules
.pnp
.pnp.js

# Vite build output
/dist/

# Logs
*.log

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem

# IDE
.idea
.vscode

# Caches
.cache/
*.tsbuildinfo
.eslintcache
