# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
# Gemfile.lock

# Bundler
.bundle/
vendor/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/

# GitHub Pages
.github-pages/

# Contentlayer
.contentlayer/